MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=sextadev
MYSQL_USER=sextadev
MYSQL_PASSWORD=sextadev123

DOMAIN=momentodev.com
SSL_EMAIL=emersonamancioea@gmail.com

VITE_API_URL=/api
VITE_GITHUB_URL=https://github.com/seu-usuario/seu-repositorio