# ========================
# NODE
# ========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ========================
# ENV
# ========================

backend/.env
frontend/.env

# ========================
# BUILD
# ========================

dist/
build/

# ========================
# LOGS
# ========================

logs
*.log

# ========================
# OS
# ========================

.DS_Store
Thumbs.db

# ========================
# IDE
# ========================

.vscode/
.idea/

# ========================
# DOCKER
# ========================

docker-data/
mysql-data/

# ========================
# UPLOADS (IMPORTANTE)
# ========================

backend/uploads/*
!backend/uploads/.gitkeep

# ========================
# TEMP
# ========================

tmp/
temp/